<div  style="height: 100%;display: flex;flex-direction: column; text-align: center;">
  <div style="padding-top: 20px;">
    <span style="color: white; font-weight: bold; font-size: 50px; line-height: 50px; margin-top: 20px">
      Pathfinding Visualizer
    </span>
  </div>
<!--  <div style="padding-top: 20px">-->
<!--    <button mat-raised-button>Info</button>-->
<!--  </div>-->
  <div class="board-container">
    <div class="zoom-image board square-board" routerLink="/board/square">
      <div class="primary-background center title-container">
        <span>Square Grid</span>
      </div>
      <div class="center info">
        Visualize pathfinding algorithms using a square grid. This uses either a 4-connected or 8-connected graph
      </div>
    </div>
    <div class="zoom-image board hex-board" routerLink="/board/hex">
      <div class="primary-background center title-container">
        <span>Hex Grid</span>
      </div>
      <div class="center info">
        Visualize pathfinding algorithms using a square grid. This uses either a 6-connected graph
      </div>
    </div>
  </div>
</div>
