@use '~@angular/material' as mat;
@use "sass:math";
@import "src/custom-theme.scss";

.primary-background{
  background-color: mat.get-color-from-palette($my-primary);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoom-image{
  transition: .1s ease-in-out;
  cursor: pointer;
}
.zoom-image:hover {
  transform: scale(1.02);
}
.board-container{
  display: grid;
  grid-gap: 10%;
  padding: 40px 10% 10%;
  height: 100%;
  grid-template-columns: 45% 45%;
}
.image{
  display: block;
  max-width: 100%;
  height: auto;

}
.info{
  color: white;
  font-size: 20px;
  background-color: darken(mat.get-color-from-palette($my-primary), 5%);
}
.link-bg{
  text-decoration: none;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: darken(mat.get-color-from-palette($my-primary), 10%);
}
.title-container{
  user-select: none;
  color: white;
  font-size: 40px;
  font-weight: normal;
  cursor: pointer;
  transition: all .3s ease;
}
.title-container:hover {
  filter: brightness(85%);
}

.board{
  border: 3px solid #fff;
  border-radius: 30px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: darken(mat.get-color-from-palette($my-primary), 10%)
}
.hex-board{
  background-image: url("../../assets/hex thumbnail dynamic.PNG");
  grid-column-start: 2;
}
.square-board{
  background-image: url("../../assets/square thumbnail dynamic.PNG");
  grid-column-start: 1;
}
@media only screen and (min-width: 1921px) {
  .info{
    font-size: 30px;
  }
  .title-container{
    font-size: 45px;
  }
}
@media only screen and (max-width: 1200px) {
  .board-container{
    padding-bottom: 5%;
  }
}
@media only screen and (max-width: 1024px) {
  .board-container{
    padding: 40px 6% 6%;
    grid-gap: 6%;
    grid-template-columns: 47% 47%;
  }
  .info{
    font-size: 15px;
  }
  .title-container{
    font-size: 35px;
  }
}
@media only screen and (max-width: 600px) {
  .board-container{
    padding: 30px 6% 6%;
    grid-gap: 6%;
    grid-template-columns: 47% 47%;
  }
  .info{
    font-size: 13px;
  }
  .title-container{
    font-size: 30px;
  }
}
@media only screen and (max-width: 560px) {
  .board-container{
    grid-template-rows: 47% 47%;
    grid-template-columns: 100%;
    grid-gap: 6%;
    padding: 40px 6% 15%;
  }
  .hex-board{
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .square-board{
    grid-row-start: 1;
    grid-column-start: 1;
  }
}
.image-container {
  height: 100%;
  margin-top: 0;
  display: flex;
  justify-content: center;
  background-color: darken(mat.get-color-from-palette($my-primary), 10%)
}
