<div  style="height: 100%;display: flex;flex-direction: column; text-align: center;">
<!--  <div style=" padding: 20px; text-align: center; flex: auto">-->

  <span style="color: white; font-weight: bold; font-size: 50px; line-height: 50px; margin-top: 20px">
    Pathfinding Visualizer
  </span>
  <div class="board-container">
    <div class="zoom-image board">
      <a style="text-decoration: none; display: flex; flex-direction: column; justify-content: center; height: 100%;" routerLink="/board/square">
        <div class="primary-background center" style=" z-index: 20; flex: 1;  flex-basis: 20%">
          <span style="color: white;font-size: 40px; font-weight: normal">Square Grid</span>
        </div>
        <div style="height: 100%; margin-top: 0; display: flex; justify-content: center;">
          <div class="small" style="background-size: cover; background: url('../../assets/square thumbnail.JPG') no-repeat center; min-width: 100%;"></div>
          <img class="large" draggable="false" mat-card-image src="../../assets/square%20thumbnail.JPG" alt="Square Board Image" style="height: 100%">
        </div>
      </a>
    </div>
    <div class="zoom-image board">
      <a style="text-decoration: none; display: flex; flex-direction: column; justify-content: center; height: 100%;" routerLink="/board/hex">
        <div class="primary-background center" style=" z-index: 20; flex: 1;  flex-basis: 20%">
          <span style="color: white;font-size: 40px; font-weight: normal">Hex Grid</span>
        </div>
        <div style="height: 100%; margin-top: 0; display: flex; justify-content: center;">
          <div class="small" style="background-size: cover; background: url('../../assets/hex thumbnail.JPG') no-repeat center; min-width: 100%;"></div>
          <img class="large" draggable="false" mat-card-image src="../../assets/hex%20thumbnail.JPG" alt="Hex Board Image" style="height: 100%">
        </div>
      </a>
    </div>
  </div>
<!--  <div style="padding: 40px; display: flex; flex: auto; justify-content: center;">-->
<!--    <div class="zoom-image" style="border: 3px solid white; border-radius: 30px; overflow: hidden; height: 100%; width: 100%; margin-right: 20px">-->
<!--      <a style="text-decoration: none; display: flex; flex-direction: column; justify-content: center; height: 100%;" routerLink="/board/square">-->
<!--        <div class="primary-background center" style=" z-index: 20; flex: 1 1 15%">-->
<!--          <span style="color: white;font-size: 40px; font-weight: normal">Square Grid</span>-->
<!--        </div>-->
<!--        <div style="height: 100%; margin-top: 0;  display: flex; justify-content: center;">-->
<!--          <img draggable="false" mat-card-image src="../../assets/square%20thumbnail.JPG" alt="Square Board Image" style="height: 100%">-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="zoom-image" style="border: 3px solid white; border-radius: 30px; overflow: hidden; height: 100%; width: 100%; margin-right: 20px">-->
<!--      <a style="text-decoration: none; display: flex; flex-direction: column; justify-content: center; height: 100%;" routerLink="/board/hex">-->
<!--        <div class="primary-background center" style=" z-index: 20; flex: 1 1 15%">-->
<!--          <span style="color: white;font-size: 40px; font-weight: normal">Hex Grid</span>-->
<!--        </div>-->
<!--        <div style="height: 100%; margin-top: 0;  display: flex; justify-content: center;">-->
<!--          <img draggable="false" mat-card-image src="../../assets/hex%20thumbnail.JPG" alt="Hex Board Image" style="height: 100%">-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
    <!--      <mat-card class="example-card">-->
    <!--        <mat-card-header>-->
    <!--          <mat-card-title>Hex Grid</mat-card-title>-->
    <!--        </mat-card-header>-->
    <!--        <div class="primary-background center" style=" z-index: 20; height: 20%">-->
    <!--          <span style="color: white;font-size: 40px; font-weight: normal">Hex Grid</span>-->
    <!--        </div>-->
    <!--        <div style="height: auto; width: auto; position: relative; overflow: hidden;">-->
    <!--          <img src="../../assets/hex%20thumbnail.JPG" alt="Photo of a Shiba Inu">-->
    <!--        </div>-->
    <!--      </mat-card>-->
    <!--    <mat-grid-list cols="2" rowHeight="100%" gutterSize="40px">-->
    <!--      <mat-grid-tile class="zoom-image" style="border: 3px white solid; border-radius: 30px;" [colspan]=1 [rowspan]=1>-->
    <!--        <div style="; width: 100%; height: 100%;">-->
    <!--          <span>-->
    <!--            <mat-card routerLink="board/hex" style="height: 100%; padding: 0">-->
    <!--              <a style="text-decoration: none" routerLink="/board/hex">-->
    <!--                <div class="primary-background center" style=" z-index: 20; height: 20%">-->
    <!--                    <span style="color: white;font-size: 40px; font-weight: normal">Hex Grid</span>-->
    <!--                  </div>-->
    <!--                <div style="height: 100%; margin-top: 0">-->
    <!--                  <img draggable="false" mat-card-image src="../../assets/hex%20thumbnail.JPG" alt="Square Board Image">-->
    <!--                </div>-->
    <!--              </a>-->
    <!--            </mat-card>-->
    <!--          </span>-->
    <!--        </div>-->
    <!--      </mat-grid-tile>-->
    <!--      <mat-grid-tile class="zoom-image" style="border: 3px white solid; border-radius: 30px; " [colspan]=1 [rowspan]=1>-->
    <!--        <div style="; width: 100%; height: 100%;">-->
    <!--          <span>-->
    <!--            <mat-card routerLink="board/square" style="height: 100%; padding: 0">-->
    <!--              <a style="text-decoration: none" routerLink="/board/square">-->
    <!--                <div class="primary-background center" style=" z-index: 20; height: 20%">-->
    <!--                  <span style="color: white;font-size: 40px; font-weight: normal">Square Grid</span>-->
    <!--                </div>-->
    <!--                <div style="height: 100%; margin-top: 0">-->
    <!--                  <img draggable="false" mat-card-image src="../../assets/square%20thumbnail.JPG" alt="Square Board Image">-->
    <!--                </div>-->
    <!--              </a>-->
    <!--            </mat-card>-->
    <!--          </span>-->
    <!--        </div>-->
    <!--      </mat-grid-tile>-->
    <!--    </mat-grid-list>-->
  <!--  </div>-->

</div>
