@import "src/custom-theme.scss";

$tile-color: #000000;
@mixin my-theme($my-theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($my-theme, primary);
  $accent: map-get($my-theme, accent);

  .mat-tab-label-active{
    .mat-tab-icon {
      background-color: mat-color($my-primary);
    }
  }
}

.mat-button-toggle {
  background-color: mat-color($my-primary);
  color: mat-color($my-primary, defaultContrast);
}

.mat-button-toggle.mat-button-toggle-checked {
  background-color: mat-color($my-accent);
  color: mat-color($my-accent, defaultContrast);
}
.mat-button-toggle-button {
  color: #000000;
}

.blank {
  background-color: #d4d4d4;
}

.start {
  background-color: #32cd32;
}

.end {
  background-color: orangered;
}

.wall{
  background-color: darken(mat-color($my-primary), 30%);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 2px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.example-list {

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.example-box {
  width: 100%;
  height: 100%;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.00);
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 0ms;
}

.example-box:last-child {
  border: none;
}

.grid {
  display: grid;
  //grid-gap: 3px;
}
.grid-row {
  display: grid;
  //grid-gap: 3px;
}
.grid-cell{
  width: 25px;
  height: 25px;
  border: 1px solid #303030;
}

.dragdrop-cell{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  cursor: pointer
}
@keyframes wallkf {
  0%{
    z-index: 100;
    transform: matrix(.1, 0, 0, .1, 0, 0);
  }
  80%{
    z-index: 100;
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
  }
  100%{
    transform: matrix(1, 0, 0, 1, 0, 0);
    z-index: 100
  }
}
@keyframes blankkf {
  0%{
    z-index: 100;
    background-color: #340c40;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  100%{
    transform: matrix(.1, 0, 0, .1, 0, 0);
    background-color: #340c40;
    z-index: 100;
  }
}
@keyframes startendkf {
  0%{
    z-index: 100;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  50%{
    //transform: matrix(1.2, 0, 0, 1.2, 0, 0);
    z-index: 100;
  }
  100%{
    transform: matrix(1, 0, 0, 1, 0, 0);
    z-index: 100;
  }
}
//.grid-cell:hover{
//  animation: createBox .3s;
//}
.grid-cell.wall{
  animation: wallkf .4s;
}
.grid-cell.blank{
  animation: blankkf .3s;
}
.grid-cell.start{
}
.grid-cell.end{
}
.example-form {
  width: 70px;
  font-size: 14px;
}

.example-full-width {
  width: 70px;
  font-size: 14px;
}
@keyframes pathfinding {
  0%{
    transform: scale(.1) translate(-1px, -1px) ;
    //border-radius: 100%;
    background-color: midnightblue;
    //border-radius: 100%;
  }
  10%{
    transform:  scale(.3) translate(-1px, -1px);
    background-color: midnightblue;
    //border-radius: 100%;
    //border-radius: 100%;
  }
  40%{
    transform: scale(1) translate(-1px, -1px);
    //border-radius: 0;
    background-color: aqua;
    //border-radius: 0;
  }
  100%{
    transform: scale(1) translate(-1px, -1px);
    background-color: lightseagreen;
  }
}
.searched {
  z-index: 100;
  animation: pathfinding 3s;
  background-color: lightseagreen;
}

//.line{
//  animation: addLine .3s;
//}

@keyframes addLine {
  0%{
    //z-index: 100;
    stroke:rgba(255,255,0, 0)
  }
  50%{
    //z-index: 100;
    stroke:rgba(255,255,0, .5)
  }
  100%{
    //z-index: 100;
    stroke:rgba(255,255,0, 1)
  }
}
