<div style="width: 100%">
  <mat-toolbar color="primary" style="justify-content: space-between;">
    <section class="title-section" style="font-size: 15px; cursor: pointer" routerLink="/">
        <div style="font-size: 20px; white-space: break-spaces; text-align: center;">Pathfinding Algorithm Visualizer</div>
    </section>

    <section class="main-bar-component" style="font-size: 15px; height: 100%">
      <div style="display: flex; justify-content: center; flex-direction: column;">
        <div style="height: fit-content">
          <button mat-stroked-button style="margin-right: 20px;flex: 1" [disabled]="globals.inProgress || boardLoading" (click)="visualize(delay.delay)">Visualize</button>
          <button mat-stroked-button style="margin-right: 20px;flex: 1" [disabled]="globals.inProgress || boardLoading" (click)="resetPath()">Reset Path</button>
          <button mat-stroked-button style="margin-right: 20px;flex: 1" [disabled]="globals.inProgress || boardLoading" (click)="resetTiles()">Remove Walls</button>
          <button mat-stroked-button style="margin-right: 20px;flex: 1" [matMenuTriggerFor]="algorithmMenu">
            Settings
            <mat-icon>settings</mat-icon>
          </button>
        </div>
      </div>
      <div style="display: flex; flex-direction: row; height: 100% ;width: 211px;">
        <div style="display: flex; flex-direction: column; justify-content: space-evenly; height: 100%; margin-right: 10px; font-size: 15px; line-height: 10px;">
          <span>Time: </span>
          <span>Tiles Searched: </span>
          <span>Path Length: </span>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: space-evenly; height: 100%; font-weight: lighter; font-size: 15px; line-height: 10px;">
          <span>{{timeStat}}</span>
          <span>{{tilesSearchedStat}}</span>
          <span>{{pathLengthStat}}</span>
        </div>
      </div>
    </section>

    <section class="main-bar-component" style="font-size: 15px">
      <button mat-stroked-button [disabled]="!globals.inProgress" (click)="cancel()">Cancel</button>
    </section>

  </mat-toolbar>
</div>

<div class="disable-select" style="padding: 20px; width: fit-content; margin: auto;" appNoRightClick *ngIf="boardType === 'square'">
  <table style="border-spacing: 0;border-collapse: collapse;">
    <tbody>
    <tr *ngFor="let row of tiles; let y = index" style="background-color: #d4d4d4; border: none; ">
      <td [@gridSquare]="tile.type" class="grid-cell show-grid" *ngFor="let tile of row; let x = index"  [attr.id]="'tile-'+y+':'+x"
              [ngClass]="{ wall: tile.type === 'wall',
                       blank: tile.type === 'blank',
                       searched: tile.type === 'searched',
                       start: startTile.row === y && startTile.col === x,
                       end: endTile.row === y && endTile.col === x,
                       fast: delay.delay === 1,
                       medium: delay.delay === 20,
                       slow: delay.delay === 50,
                       instant: delay.delay === 0
                       }"
              (mouseenter)="mouseEnter($event, y, x)"
              (mousedown)="mouseDown($event, y, x)"
              (mouseup)="mouseUp()"
              (mouseleave)="mouseLeave($event, y, x)"
             (touchstart)="mouseDown($event, y, x)"
             (touchend)="mouseUp()">
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="disable-select" style="width: 100%" [ngStyle]="{}" appNoRightClick *ngIf="boardType === 'hex'" >
  <div class="" style="display: table; padding-top: 20px; margin: 0 auto; padding-right: 9px; padding-bottom: 15px;">
    <div class="hex-row" *ngFor="let row of tiles; let y = index" style="display: block">
      <div class="hex" *ngFor="let tile of row; let x = index" [attr.id]="'tile-'+y+':'+x" style="display: block; position: relative"
           [ngClass]="{ even: (x%2)===1,
                        wall: tile.type === 'wall',
                        blank: tile.type === 'blank',
                        searched: tile.type === 'searched',
                        start: startTile.row === y && startTile.col === x,
                        end: endTile.row === y && endTile.col === x,
                        fast: delay.delay === 1,
                        medium: delay.delay === 20,
                        slow: delay.delay === 50,
                        instant: delay.delay === 0
           }"
           (mouseenter)="mouseEnter($event, y, x)"
           (mousedown)="mouseDown($event, y, x)"
           (mouseup)="mouseUp()"
           (mouseleave)="mouseLeave($event, y, x)"
           (touchstart)="mouseDown($event, y, x)"
           (touchend)="mouseUp()"
      >
        <div class="left">
        </div>
        <div class="middle">
        </div>
        <div class="right">
        </div>
      </div>
    </div>
  </div>
</div>
<svg width="100%" height="100%" style="top: 0; left: 0; position:absolute;pointer-events: none">
  <line [id]="lines" *ngFor="let line of lines" class="line"
        [attr.x1]="line.x1"
        [attr.y1]="line.y1"
        [attr.x2]="line.x2"
        [attr.y2]="line.y2"
        stroke="yellow"
        stroke-width="6px"
        stroke-linecap="round"
        style="z-index: 900"/>
</svg>
<mat-menu #algorithmMenu="matMenu" class="custom-menu">
  <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()" class="drop-down-menu">
    <div style="width: 325px; margin: 0 auto">
      <div style="text-align: center; display: flex; justify-content: space-between">
        <span>Instant</span>
        <span>Fast</span>
        <span>Normal</span>
        <span>Slow</span>
      </div>
    </div>

    <div style="width: 100%; text-align: center; display: flex; justify-content: space-around; margin: -10px auto">
      <mat-slider
        style="width: 325px; padding: 0"
        class="example-margin"
        [disabled]="globals.inProgress || boardLoading"
        [max]="3"
        [min]="0"
        [step]="1"
        [tickInterval]="1"
        value="2"
        (change)="resetPath(); changeSpeed($event.value)">
      </mat-slider>
    </div>

    <mat-form-field appearance="fill" style="font-size: 10px; margin: 0 auto; padding-top: 8px; width: 325px">
      <mat-label style="font-size: 15px">Select Board</mat-label>
      <mat-select [(value)]="selectedBoard"   [disabled]="boardLoading || globals.inProgress" style="font-size: 15px;">
        <mat-option (click)="loadBoard()">None</mat-option>
        <mat-option (click)="loadBoard()" *ngFor="let board of boards; let i = index" value="{{board}}">{{board}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-accordion style="width: 325px; margin: 0 auto">
      <mat-expansion-panel (opened)="algorithm = 'Dijkstra\'s Algorithm'; diagonal = false; diagonalChange()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dijkstra's Algorithm
          </mat-panel-title>
          <mat-panel-description>
            {{algorithm === 'Dijkstra\'s Algorithm' ? 'Selected' : ''}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-checkbox *ngIf="boardType === 'square'" [color]="'accent'" [(ngModel)]="diagonal" (change)="diagonalChange()" [disabled]="globals.inProgress || boardLoading">Diagonal</mat-checkbox>
      </mat-expansion-panel>

      <mat-expansion-panel  (opened)="algorithm = 'A* Algorithm'; diagonal = false; diagonalChange()">
        <mat-expansion-panel-header >
          <mat-panel-title>
            A* Algorithm
          </mat-panel-title>
          <mat-panel-description>
            {{algorithm === 'A* Algorithm' ? 'Selected' : ''}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-checkbox [color]="'accent'" [(ngModel)]="diagonal" (change)="diagonalChange()" [disabled]="globals.inProgress || boardLoading">Diagonal</mat-checkbox>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="heuristic-button-group"
          [(ngModel)]="heuristic">
          <mat-radio-button style="margin: 5px" *ngFor="let h of heuristics" [value]="h.value">
            {{h.label}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</mat-menu>
<div id="sheet" class="bottom-sheet-bg disable-select" draggable="false" (touchmove)="testSheet($event)" (touchend)="testSheetClick($event)" (touchstart)="touchStart($event)" (mousemove)="testSheet($event)" (mouseup)="testSheetClick($event)" (mousedown)="touchStart($event)">

  <div class="sheet-handle">
    <div class="sheet-knob"></div>
  </div>

  <div class="sheet-main-buttons">
    <button mat-stroked-button *ngIf="!globals.inProgress" style="margin-right: 8px" [disabled]="boardLoading" (click)="visualize(delay.delay)">Visualize</button>
    <button mat-stroked-button *ngIf="!globals.inProgress" style="margin-right: 8px" [disabled]="boardLoading" (click)="resetPath()">Reset Path</button>
    <button mat-stroked-button *ngIf="!globals.inProgress" [disabled]="boardLoading" (click)="resetTiles()">Remove Walls</button>
    <button mat-stroked-button *ngIf="globals.inProgress" (click)="cancel()">Cancel</button>
  </div>

  <div style="width: 325px; margin: 0 auto">
    <div style="text-align: center; display: flex; justify-content: space-between">
      <span>Instant</span>
      <span>Fast</span>
      <span>Normal</span>
      <span>Slow</span>
    </div>
  </div>

  <div style="width: 100%; text-align: center; display: flex; justify-content: space-around; margin: -10px auto">
    <mat-slider
      style="width: 325px; padding: 0"
      class="example-margin"
      [disabled]="globals.inProgress || boardLoading"
      [max]="3"
      [min]="0"
      [step]="1"
      [tickInterval]="1"
      value="2"
      (change)="resetPath(); changeSpeed($event.value)">
    </mat-slider>
  </div>

  <mat-form-field appearance="fill" style="font-size: 10px; margin: 0 auto; padding-top: 8px; width: 325px">
    <mat-label style="font-size: 15px">Select Board</mat-label>
    <mat-select [(value)]="selectedBoard"   [disabled]="boardLoading || globals.inProgress" style="font-size: 15px;">
      <mat-option (click)="loadBoard()">None</mat-option>
      <mat-option (click)="loadBoard()" *ngFor="let board of boards; let i = index" value="{{board}}">{{board}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-accordion style="width: 325px; margin: 0 auto">
    <mat-expansion-panel (opened)="algorithm = 'Dijkstra\'s Algorithm'; diagonal = false; diagonalChange()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dijkstra's Algorithm
        </mat-panel-title>
        <mat-panel-description>
          {{algorithm === 'Dijkstra\'s Algorithm' ? 'Selected' : ''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-checkbox *ngIf="boardType === 'square'" [color]="'accent'" [(ngModel)]="diagonal" (change)="diagonalChange()" [disabled]="globals.inProgress || boardLoading">Diagonal</mat-checkbox>
    </mat-expansion-panel>

    <mat-expansion-panel  (opened)="algorithm = 'A* Algorithm'; diagonal = false; diagonalChange()">
      <mat-expansion-panel-header >
        <mat-panel-title>
          A* Algorithm
        </mat-panel-title>
        <mat-panel-description>
          {{algorithm === 'A* Algorithm' ? 'Selected' : ''}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-checkbox [color]="'accent'" [(ngModel)]="diagonal" (change)="diagonalChange()" [disabled]="globals.inProgress || boardLoading">Diagonal</mat-checkbox>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="heuristic-button-group"
        [(ngModel)]="heuristic">
        <mat-radio-button style="margin: 5px" *ngFor="let h of heuristics" [value]="h.value">
          {{h.label}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-expansion-panel>
    <div style="display: flex; flex-direction: row; height: 100%; margin: auto; width: 211px;">
      <div style="display: flex; flex-direction: column; justify-content: space-evenly; height: 100%; margin-right: 10px; font-size: 15px; line-height: 10px;">
        <span>Time: </span>
        <span>Tiles Searched: </span>
        <span>Path Length: </span>
      </div>
      <div style="display: flex; flex-direction: column; justify-content: space-evenly; height: 100%; font-weight: lighter; font-size: 15px; line-height: 10px;">
        <span>{{timeStat}}</span>
        <span>{{tilesSearchedStat}}</span>
        <span>{{pathLengthStat}}</span>
      </div>
    </div>

  </mat-accordion>
</div>
