<div style="width: 100%">
  <mat-toolbar color="primary">
    <section style="margin-right: 20px;font-size: 15px">
      <div style="font-size: 20px;margin-right: 100px; display: grid">
        <span>Pathfinding Algorithm Visualizer</span>
        <span style="font-size: 15px">Under Construction</span>
      </div>
    </section>

    <section style="margin-right: 20px;font-size: 15px">
      <button mat-raised-button color="primary" [disabled]="globals.inProgress || boardLoading" (click)="visualize(delay)">Visualize</button>
    </section>

    <section style="margin-right: 20px;font-size: 15px">
      <button mat-raised-button color="primary" [disabled]="globals.inProgress || boardLoading" (click)="resetPath()">Reset Path</button>
    </section>

    <section style="margin-right: 20px;font-size: 15px">
      <button mat-raised-button color="primary" [disabled]="globals.inProgress || boardLoading" (click)="resetTiles()">Remove Walls</button>
    </section>

    <section style="margin-right: 20px;font-size: 15px" *ngIf="boardType === 'square'">
      <mat-checkbox [color]="'accent'" [(ngModel)]="diagonal" (change)="diagonalChange()" [disabled]="globals.inProgress || boardLoading">Diagonal</mat-checkbox>
    </section>

    <section style="margin-right: 20px; padding-top: 15px">
      <mat-form-field appearance="fill" style="font-size: 10px">
        <mat-label style="font-size: 15px">Select Board</mat-label>
        <mat-select [(value)]="selectedBoard"   [disabled]="boardLoading || globals.inProgress" style="font-size: 15px;">
          <mat-option (click)="loadBoard()">None</mat-option>
          <mat-option (click)="loadBoard()" *ngFor="let board of boards; let i = index" value="{{board}}">{{board}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section style="margin-right: 20px">
      <button mat-raised-button color="primary" [matMenuTriggerFor]="algorithmMenu">
        {{algorithm}}
        <mat-icon>settings</mat-icon>
      </button>
    </section>

    <section style="margin-right: 20px;font-size: 15px; margin-left: auto">
      <button mat-raised-button color="primary" [disabled]="!globals.inProgress" (click)="cancel()">Cancel</button>
    </section>

  </mat-toolbar>
</div>

<div class="disable-select" style="padding: 20px; " appNoRightClick *ngIf="boardType === 'square'">
  <table style="border-spacing: 0;border-collapse: collapse;">
    <tbody>
    <tr *ngFor="let row of tiles; let y = index" style="background-color: #d4d4d4">
      <td class="grid-cell" *ngFor="let tile of row; let x = index"  [attr.id]="'tile-'+y+':'+x"
          [ngClass]="{wall: tile.type === 'wall',
                      blank: tile.type === 'blank',
                       start: startTile.row === y && startTile.col === x,
                       end: endTile.row === y && endTile.col === x,
                      fast: delay === 1,
                      medium: delay === 20,
                      slow: delay === 50,
                      instant: delay === 0}"
          (mouseenter)="mouseEnter($event, y, x)"
          (mousedown)="mouseDown($event, y, x)"
          (mouseup)="mouseUp()"
          (mouseleave)="mouseLeave($event, y, x)">
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="disable-select" style="width: 100%" [ngStyle]="{}" appNoRightClick *ngIf="boardType === 'hex'" >
  <div class="" style="display: table; padding-top: 20px; margin: 0 auto">
    <div class="hex-row" *ngFor="let row of tiles; let y = index" style="display: block">
      <div class="hex" *ngFor="let tile of row; let x = index" [attr.id]="'tile-'+y+':'+x" style="display: block; position: relative"
           [ngClass]="{even: (x%2)===1,
                       wall: tile.type === 'wall',
                       blank: tile.type === 'blank',
                       start: startTile.row === y && startTile.col === x,
                       end: endTile.row === y && endTile.col === x,
                       fast: delay === 1,
                       medium: delay === 20,
                       slow: delay === 50,
                       instant: delay === 0
           }"
           (mouseenter)="mouseEnter($event, y, x)"
           (mousedown)="mouseDown($event, y, x)"
           (mouseup)="mouseUp()"
           (mouseleave)="mouseLeave($event, y, x)">
        <div class="left">
        </div>
        <div class="middle">
        </div>
        <div class="right">
        </div>
      </div>
    </div>
  </div>
</div>
<svg width="100%" height="100%" style="z-index: 10; top: 0; left: 0; position:absolute;pointer-events: none">
  <line [id]="lines" *ngFor="let line of lines" class="line"  [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" stroke="yellow" stroke-width="6px" stroke-linecap="round" style="z-index: 900"/>
</svg>
<mat-menu #algorithmMenu="matMenu" style="max-width: none">
  <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel (opened)="algorithm = 'Dijkstra\'s Algorithm'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dijkstra's Algorithm
          </mat-panel-title>
          <mat-panel-description>
            {{algorithm === 'Dijkstra\'s Algorithm' ? 'Selected' : ''}}
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel  (opened)="algorithm = 'A* Algorithm'">
        <mat-expansion-panel-header >
          <mat-panel-title>
            A* Algorithm
          </mat-panel-title>
          <mat-panel-description>
            {{algorithm === 'A* Algorithm' ? 'Selected' : ''}}
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

    </mat-accordion>
      <div style="max-width: fit-content; margin: 8px auto auto">
        <mat-button-toggle-group appearance="legacy" (change)="resetPath();changeSpeed($event.value)" value="{{delay}}" [disabled]="globals.inProgress || boardLoading" style="margin: 0 8px;font-size: 15px">
          <mat-button-toggle value="0">Instant</mat-button-toggle>
          <mat-button-toggle value="1">Fast</mat-button-toggle>
          <mat-button-toggle value="20">Medium</mat-button-toggle>
          <mat-button-toggle value="50">Slow</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
  </div>
</mat-menu>
