@import '../../custom-theme.scss';

$tile-color: #000000;

.default {
  background-color: lighten($tile-color, 60%)
}

.start {
  background-color: mat-color($primary)
}

.end {
  background-color: mat-color($primary)
}

.selected{
  background-color: lighten($tile-color, 40%)
}
.first {
  background-color: lighten(mat-color($primary), 60%)
}
.searched {
  background-color: lighten($tile-color, 60%)
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  margin: 2px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.toolbar-list {
  border: solid 1px rgba(0, 0, 0, 0);
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: darken(mat-color($primary), 10%);
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-list {

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.example-box {
  width: 100%;
  height: 100%;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.00);
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 0ms;
}

.example-box:last-child {
  border: none;
}

.grid {
  display: grid;
  //grid-gap: 3px;
}
.grid-row {
  display: grid;
  //grid-gap: 3px;
}
.grid-cell{
  position: relative;
  //border-radius: 2px;
  border: solid 1px #303030;
  width: 100%;
  padding-top: 100%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.dragdrop-cell{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  cursor: pointer
}
.icon-background{
  background-color: darken(mat-color($primary), 10%);
  width: 26px;
  height: 26px;
  margin: auto;
  border-radius: 10px;
}
@keyframes selectedkf {
  0%{
    z-index: 100;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  50%{
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
    z-index: 100;
  }
  100%{
    transform: matrix(1, 0, 0, 1, 0, 0);
    z-index: 100;
  }
}
@keyframes defaultkf {
  0%{
    z-index: 100;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  50%{
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
    z-index: 100;
  }
  100%{
    transform: matrix(1, 0, 0, 1, 0, 0);
    z-index: 100;
  }
}
@keyframes startendkf {
  0%{
    z-index: 100;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  50%{
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
    z-index: 100;
  }
  100%{
    transform: matrix(1, 0, 0, 1, 0, 0);
    z-index: 100;
  }
}
//.grid-cell:hover{
//  animation: createBox .3s;
//}
.grid-cell.selected{
  animation: selectedkf .3s;
}
.grid-cell.default{
  animation: defaultkf .3s;
}
.grid-cell.start{
  animation: startendkf .3s;
}
.grid-cell.end{
  animation: startendkf .3s;
}
.example-form {
  width: 70px;
  font-size: 14px;
}

.example-full-width {
  width: 70px;
  font-size: 14px;
}

//0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
//1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
//0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
//0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
//1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
//0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
//0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
//0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
//0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
//0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
//0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
//0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
//0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
//0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
//0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
//0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
//
//0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
//1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
//0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
//0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
//1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
//1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
//0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0,
//0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
//0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
//0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0,
//0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
//0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1,
//0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
//0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0,
//0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1,
//0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0,
